{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "comma-dangle": [
    "always"
  ],
  "rules": {
    "react/jsx-no-bind": [
      0,
      {
        "ignoreRefs": true,
        "allowArrowFunctions": false,
        "allowBind": true
      }
    ],
    "react/prop-types": 1,
    "new-cap": 0
  }
}

